<footer class="page-footer stylish-color-dark pt-4">

    <div style="min-height: 250px; font-size: large" class="footer bg-dark text-white" id="footer-sub">
        <div class="container">
            <div class="row ml-5">
                <div class="col-md-4">
                    <h5 class="text-white"> HELP </h5>
                    <ul>
                        <li><a class="text-white" href="">Payments</a>
                        </li>
                        <li><a class="text-white" href="">Saved Cards</a>
                        </li>
                        <li><a class="text-white" href="">Shipping</a>
                        </li>
                        <li><a class="text-white" href="">Cancellation & Returns</a>
                        </li>
                        <li><a class="text-white" href="">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5 class="text-white"> OnlineStore.com </h5>
                    <ul>
                        <li><a class="text-white" href="">Contact Us</a>
                        </li>
                        <li><a class="text-white" href="">About Us</a>
                        </li>
                        <li><a class="text-white" href="">Careers</a>
                        </li>
                        <li><a class="text-white" href="">Press</a>
                        </li>
                        <li><a class="text-white" href="{% url 'seller_home' %}">Sell on our website</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5 class="text-white"> Policy </h5>
                    <ul>
                        <li><a class="text-white" href="">Online Shopping</a>
                        </li>
                        <li><a class="text-white" href="">Affliate Program</a>
                        </li>
                        <li><a class="text-white" href="">Gift Card</a>
                        </li>
                        <li><a class="text-white" href="">Subscription</a>
                        </li>
                        <li><a class="text-white" href="">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <hr style="margin-bottom:20px; margin-top:20px; padding:0px;">
            <div class="row" id="sub-two">

                <div class="col-md-4 p-3">
                    <div class="text-center">
                        <span><i class="fas fa-map-marker-alt fa-4x"></i></span>
                        <h4>TRACK YOUR ORDER</h4>
                    </div>
                </div>

                <div class="col-md-4 p-3">
                    <div class="text-center">
                        <span><i class="fas fa-sync-alt fa-4x"></i></span>
                        <h4>FREE & EASY RETURNS</h4>
                    </div>
                </div>

                <div class="col-md-4 p-3">
                    <div class="text-center">
                        <span><i class="far fa-times-circle fa-4x"></i></span>
                        <h4>ONLINE CANCELLATIONS</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>