#home-side-img img {
    max-height: 100px;
    max-width: 100px;
    padding: 5px;
    margin: 5px;
}

body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.searchbar {
    max-width: 600px;
}

.dropdown-toggle::after {
    content: none !important;
}

.anchor-class {
    text-decoration: none !important;
}

.box-hover:hover {
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.home-card-img {
    position: relative;
    height: 150px;
    width: content-box;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-link {
    margin-left: auto;
}

.nav-hover a:hover {
    border-radius: 12px;
    background-color: orangered;
    text-decoration-color: black;
}

@media (max-width: 480px) {
    .home-card-img {
        position: relative;
        height: 90px;
        width: content-box;
        padding: 10px;
        margin: 0 auto;
    }
}

.img-card {
    margin-left: auto;
    margin-right: auto;
}

.detail-page-img {
    padding: 10px;
    height: 380px;
    width: auto;
    max-width: 500px;
    position: relative;
    border: 1px solid #f0f0f0;
}
