{% extends 'base/base1.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Register Your Shop</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="font-family: Roboto;">Start's Your Business Online Today</h1>
        <form id="shopform" method="POST" action="{% url 'shop_owner_registration' %}">
            {% csrf_token %}
            {{ form1.as_p }}
            <button class="btn btn-success" type="submit">Register</button>
        </form>
    </div>
{% endblock content %}